/* GENERAL ******************************************************/
body {
   background-color: rgb(235,235,235); 
   /* font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; */
   font-family: 'Noto Sans', sans-serif;
   color: rgb(25,25,25);
}
a,
a:visited {
   color: rgb(0,0,0);
   border: 0;
   outline: none;
}
a:hover {
   cursor: pointer;
   color: rgb(110,110,110);
}
#canvas_tree {
}
#svg_menu {
   background-color: rgb(50,50,50); 
}
text.menu {
   stroke: none;
}
rect.menu {
   cursor: pointer;
}

.node {
   stroke: rgb(50,50,50);
   stroke-width: 2;
}

.link {
   stroke: rgb(200,200,200);
   stroke-width: 1;
}








